<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HelloJsp</display-name>
  
  <!-- 서블릿 선언  -->
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>lesson.servlets.HelloWorld</servlet-class>
  </servlet>
  
  <!-- 서블릿 URL과 연결 -->
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>		<!--http://localhost:8090/HelloJsp/Hello  -->
  </servlet-mapping>
  
  <!-- 서블릿 선언  -->
  <servlet>
    <servlet-name>KCH</servlet-name>
    <servlet-class>lesson.servlets.MyInfo</servlet-class>
  </servlet>
  
   <!-- 서블릿 URL과 연결 -->
  <servlet-mapping>
    <servlet-name>KCH</servlet-name>
    <url-pattern>/KCH</url-pattern>			<!--http://localhost:8090/HelloJsp(프로젝트명)/KCH  -->
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>